$black: #000;

.header-actions {
  // .header-actions__inner
  &__inner {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px 0px;
    background-color: #cac6a7;
    color: white;
    gap: 40px;
  }

  // .header-actions__btn
  &__btn {
    background-color: $black;
    color: teal;
    font-size: 22px;
  }
}
