.vscode
.VSCodeCounter
package-lock.json
.favorites.json
.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
dist/
npm-debug.*
source/css/*.css
source/css/*.map
Thumbs.db

src/.temporary_cache
